<!DOCTYPE html>
<!-- //md5加密 按字母顺序，secretkey放在最后 -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>key4开空一阶5min</title>
	<style>
		th {background: #ccc;}
		table td,table th{
			font-size:14px;
			font-weight: 400;
			text-align: center;
			width:12%;
		}
		table {width:800px; border:1px solid #666; margin-bottom: 30px; max-height:200px; overflow: scroll;}

	</style>
</head>
<body>
	<div id="app">
		<input type="text" placeholder="前一日最高价" v-model="kaiPrice"> * <input type="text" v-model="rate"> = {{pingPrice}}
		<br>
		<input type="text" v-model="amount">
		<br>
		<button @click="cal">cal</button>
		<br>
		{{all}} - {{fee}} = {{real}}
		<br>
		提现：{{ r }}
		<br>
		之后卖出: {{ Math.floor(r*0.8*1000)/1000 }}
		<hr>
		<h2>移仓计算</h2>
		<input type="text" v-model="priceJd" placeholder="请输入平多均价" >
		<input type="text" v-model="priceJk" placeholder="请输入平空均价" >
		sumD: {{sumD}}, sumK: {{sumK}}
		<br>
		<input type="text" v-model="newKaiduoPriceAVG" placeholder="请输入新的开多均价" >
		<input type="text" v-model="newKaikongPriceAVG" placeholder="请输入新的开空均价" >
		<br>
		<input type="text" v-model="oldKaiduoPriceAVG" placeholder="请输入老的开多均价" >
		<input type="text" v-model="oldKaikongPriceAVG" placeholder="请输入老的开空均价" >
		<br>
		<button @click="cal3">cal2</button>


	</div>
</body>


<script src="./BTC-低风险/vue.js"></script>
<script>
var app = new Vue({
	el:"#app",
	data: {
		priceJk:'',
		priceJd:'',
		oldKaikongPriceAVG:'',
		oldKaiduoPriceAVG:'',
		kaiPrice:'',
		rate: 1.00498,
		amount: '',
		all:'',
		fee:'',
		real:'',
		originPingduoPriceArr:[2523.41,
2526.88,
2537.57,
2543.99,
2552.29,
2557.67,
2568.8,
2572.08,
2574.63,
2574.63,
2577.82,
2593.37,
2599.83,
2613.46,
2617.71,
2639.18,
2636.16,
2647.19,
2685.27,
2704.77,
2709.3,
2715.65,
2876.13,
2872.62,
2876.64,
2907.94,
2924.12,
2930.74,
2929.44,
2931.03,
2931.03
],
		pingduoAmountArr:[5,
5,
5,
5,
5,
5,
5,
5,
4,
1,
5,
5,
5,
5,
5,
5,
5,
5,
5,
5,
5,
5,
5,
1,
5,
5,
5,
5,
5,
1,
4
],
		originPingkongPriceArr:[3325.90, 
3314.00, 
3295.02, 
3267.42, 
3263.70, 
3248.50, 
3241.36, 
3239.09, 
3239.09, 
3239.09, 
3239.09, 
3228.72, 
3216.93, 
3216.93, 
3213.22, 
3213.22, 
3191.62, 
3185.09, 
3187.40, 
2865.09, 
3179.66, 
3168.66, 
3168.66, 
3168.22, 
3164.70, 
3116.42, 
3012.76, 
2954.09, 
2936.81, 
2935.13, 
2924.53, 
2858.16, 
2842.52, 
2826.35, 
2826.35, 
2825.64, 
2817.89, 
2791.24, 
2780.67, 
2774.45, 
2774.45, 
2767.28, 
2745.28, 
2737.03, 
2737.03, 
2733.51, 
2729.87, 
2729.05, 
2724.18, 
2723.99, 
2714.35, 
2716.00, 
2714.72, 
2701.51, 
2681.34, 
2674.32, 
2674.32, 
2659.57, 
2648.14, 
2649.78, 
2633.63, 
2629.18, 
2632.22, 
2629.57, 
2619.76, 
2609.09, 
2603.09, 
2598.24, 
2596.59, 
2590.31, 
2586.03, 
2583.90, 
2573.29, 
2576.29, 
2569.09, 
2452.80, 
2443.83, 
2424.68, 
2391.22, 
2387.13, 
2387.13, 
2378.32, 
2360.17, 
2320.19, 
2297.17, 
2297.17, 
2282.44, 
2273.12, 
2271.15, 
2271.15, 
2261.92, 
2261.92, 
2253.15, 
2247.66, 
2225.67, 
2229.98, 
2227.34, 
2227.34, 
2222.83, 
2225.47, 
2220.97, 
2220.97, 
2216.35, 
2209.08, 
2206.17, 
2197.69, 
2197.69, 
2196.20, 
2197.64, 
2199.45, 
2193.59, 
2193.59, 
2177.90, 
2181.77, 
2178.37, 
2174.14, 
2174.14, 
2177.34, 
2179.43, 
2169.71, 
2164.12, 
2166.47, 
2160.55, 
2159.54, 
2147.76, 
2141.42, 
2139.22, 
2122.24, 
2118.74, 
2113.62, 
2112.40, 
2106.38, 
2100.21, 
2100.35, 
2090.95, 
2078.91, 
2078.91, 
2078.91, 
2079.65, 
2079.69, 
2068.16, 
2068.16, 
2049.75, 
2031.35, 
2021.57, 
2018.59, 
2016.03, 
2009.62, 
1998.74, 
1989.96, 
1989.89, 
1980.06, 
1946.85, 
1890.78 

],
		pingkongAmountArr:[6.00, 
6.00, 
6.00, 
6.00, 
6.00, 
6.00, 
6.00, 
2.00, 
1.00, 
2.00, 
1.00, 
6.00, 
2.00, 
4.00, 
3.00, 
3.00, 
6.00, 
6.00, 
6.00, 
5.00, 
6.00, 
5.00, 
1.00, 
6.00, 
6.00, 
6.00, 
6.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
4.00, 
1.00, 
5.00, 
5.00, 
5.00, 
5.00, 
2.00, 
3.00, 
5.00, 
5.00, 
3.00, 
2.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
2.00, 
3.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
5.00, 
4.00, 
3.00,
4.00, 
4.00, 
3.00, 
1.00, 
4.00, 
4.00, 
4.00, 
1.00, 
3.00, 
4.00, 
4.00, 
3.00, 
1.00, 
3.00, 
1.00, 
4.00, 
4.00, 
4.00, 
4.00, 
3.00, 
1.00, 
4.00, 
4.00, 
1.00, 
3.00, 
4.00, 
4.00, 
4.00, 
3.00, 
1.00, 
4.00, 
4.00, 
4.00, 
3.00, 
1.00, 
4.00, 
4.00, 
4.00, 
1.00, 
3.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
1.00, 
4.00, 
2.00, 
1.00, 
1.00, 
4.00, 
4.00, 
2.00, 
2.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
4.00, 
3.00, 
3.00, 
3.00, 
3.00, 
3.00 

],
		priceJ:'',
		rateD:'',
		rateK:'',
		sumD:'',
		sumK:'',
		newKaiduoPriceAVG:'',
		newKaikongPriceAVG:''

	},
	computed: {
		pingPrice: function(){
			var $this = this;
			return $this.kaiPrice*$this.rate
		},
		r: function(){
			var $this = this;
			var real2
			if($this.real!=''){
				real2 = Math.floor($this.real/2*1000)/1000
			}
			
			return real2
		}
		

	},

	methods: {
		cal: function(){
			var $this = this;
			$this.all = ($this.pingPrice-$this.kaiPrice) * ($this.amount*100) / ($this.pingPrice*$this.kaiPrice)
			$this.fee = $this.all * 0.3 / 1000 / ($this.rate-1)
			$this.real = $this.all - $this.fee
		},
		cal2: function(){
			var $this = this;
			var sumD = 0;
			var sumK = 0;
			var originPingduoPriceArr = $this.originPingduoPriceArr;
			var originPingkongPriceArr = $this.originPingkongPriceArr;
			var pingduoAmountArr = $this.pingduoAmountArr;
			var pingkongAmountArr = $this.pingkongAmountArr;
			var priceJ = $this.priceJ;
			for(var i in originPingduoPriceArr){
				sumD += (priceJ - originPingduoPriceArr[i]/1.00498) * pingduoAmountArr[i]*100 / ((originPingduoPriceArr[i]/1.00498)*priceJ)
			}
			for(var j in originPingduoPriceArr){
				sumK += -(priceJ - originPingkongPriceArr[j]/0.99502)/priceJ * pingkongAmountArr[j]*100 / (originPingkongPriceArr[j]/0.99502)
			}

			$this.sumD = sumD;
			$this.sumK = sumK;

			

			for(var x=0.00001; x<=10.0; x+=0.00001){
				var newsumD = 0;
				var newsumK = 0;
				
				for(var m in originPingduoPriceArr){
					newsumD += (x*originPingduoPriceArr[m]/1.00498 - $this.newKaiduoPriceAVG*1.0) * pingduoAmountArr[m]*100 / (($this.newKaiduoPriceAVG*1.0)*(x*originPingduoPriceArr[m]/1.00498))
				}
				for(var n in originPingkongPriceArr){
					newsumK += -(x*originPingkongPriceArr[n]/0.99502 - $this.newKaikongPriceAVG*1.0) * pingkongAmountArr[n]*100 / (($this.newKaikongPriceAVG*1.0)*(x*originPingkongPriceArr[n]/0.99502))
				}
				
				if(newsumD+sumD<0.00001 && newsumD+sumD>-0.00001){
					console.log("平多比率 = " + x + " 误差: "+ (newsumD+sumD)+"btc");
					//break;
				}
				if(newsumK+sumK<0.0001 && newsumK+sumK>-0.0001){
					console.log("平空比率 = " + x + " 误差: "+ (newsumK+sumK)+"btc");
					//break;
				}
			}


		},
		cal3:function(){
			var $this = this;
			var davg,kavg;
			davg = $this.oldKaiduoPriceAVG;
			kavg = $this.oldKaikongPriceAVG;
			var originPingduoPriceArr = $this.originPingduoPriceArr;
			var originPingkongPriceArr = $this.originPingkongPriceArr;
			var pingduoAmountArr = $this.pingduoAmountArr;
			var pingkongAmountArr = $this.pingkongAmountArr;
			var priceJd = $this.priceJd;
			var priceJk = $this.priceJk;
			var sumD = 0, sumK = 0;
			for(var i in $this.originPingduoPriceArr){
				sumD += (originPingduoPriceArr[i] - davg) * pingduoAmountArr[i]*100 / ((originPingduoPriceArr[i])*davg)
			}
			for(var i in $this.originPingkongPriceArr){
				sumK += (kavg - originPingkongPriceArr[i]) * pingkongAmountArr[i]*100 / (originPingkongPriceArr[i]*kavg)
			}
			console.log("cal3-dProfit:" + sumD);
			console.log("cal3-kProfit:" + sumK);

			for(var x=0.00001; x<=3.0; x+=0.00001){
				var newsumD = 0;
				var newsumK = 0;
				var amountD = 0;
				var amountK = 0;
				for(var m in originPingduoPriceArr){
					newsumD += (x*originPingduoPriceArr[m] - $this.newKaiduoPriceAVG*1.0) * pingduoAmountArr[m]*100 / (($this.newKaiduoPriceAVG*1.0)*(x*originPingduoPriceArr[m]))
					amountD += pingduoAmountArr[m];
				}
				for(var n in originPingkongPriceArr){
					newsumK += -(x*originPingkongPriceArr[n] - $this.newKaikongPriceAVG*1.0) * pingkongAmountArr[n]*100 / (($this.newKaikongPriceAVG*1.0)*(x*originPingkongPriceArr[n]))
					amountK += pingkongAmountArr[n];
				}
				var deltaD = -(priceJd - davg) * amountD * 100 / (priceJd * davg)
				deltaD += ($this.newKaiduoPriceAVG - priceJd) * amountD * 100 / (priceJd * $this.newKaiduoPriceAVG)
				var deltaK = (priceJk - kavg) * amountK * 100 / (priceJk * kavg)
				deltaK += -($this.newKaikongPriceAVG - priceJk) * amountK * 100 / (priceJk * $this.newKaikongPriceAVG)
				if(newsumD-(sumD+deltaD)<0.0001 && newsumD-(sumD+deltaD)>-0.0001){
					console.log("平多比率 = " + x + " 误差: "+ (newsumD-(sumD+deltaD))+"btc");
					//break;
				}
				if(newsumK-(sumK+deltaK)<0.0001 && newsumK-(sumK+deltaK)>-0.0001){
					console.log("平空比率 = " + x + " 误差: "+ (newsumK-(sumK+deltaK))+"btc");
					//break;
				}
			}
		}
		

	},
	mounted: function(){
		var $this = this;
		//$this.cal3();
	}
})
</script>
</html>