<!DOCTYPE html>
<!-- //md5加密 按字母顺序，secretkey放在最后 -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EMA-15min-fix</title>
	<style>
		th {background: #ccc;}
		table td,table th{
			font-size:14px;
			font-weight: 400;
			text-align: center;
			width:12%;
		}
		table {width:800px; border:1px solid #666; margin-bottom: 30px; max-height:200px; overflow: scroll;}
		#error,#info{  float: left; width:400px; font-size:12px;}

	</style>
</head>
<body>
	<div id="app">
		<!-- <button @click="start">启动</button>
		<button @click="showOrder1">查看未完成订单</button>
		<button @click="futureTrade(1000,1,1)">下单</button>
		<button @click="futureOrderInfo(-1)">查-1</button>
		<button @click="futureCancelOrder(6465769535)">撤xxx</button>
		<button @click="testspeed">test speed</button> -->
		<!-- <button @click="trans">换仓</button> -->
		{{receiveTime - sendTime}}
		<p>writableArr: [<span v-for="item in writableArr">{{item}},</span>]</p>
		<p>readableArr: [<span v-for="item in readableArr">{{item}},</span>]</p>
		<table>
			<tr>
				<th>id</th><th>status</th><th>type</th><th>deal_amount</th><th>amount</th><th>create_date</th><th>price</th><th>canClose</th>
			</tr>
			<tr>
				<td>{{ toCancelpingduo.order_id }}</td>
				<td>{{ toCancelpingduo.status }}</td>
				<td>{{ toCancelpingduo.type }}</td>
				<td>{{ toCancelpingduo.deal_amount }}</td>
				<td>{{ toCancelpingduo.amount }}</td>
				<td>{{ formatDate(toCancelpingduo.create_date) }}</td>
				<td>{{ toCancelpingduo.price }}</td>
				<td>{{ canClose }}</td>
			</tr>
			<tr>
				<td>{{ toCancelpingkong.order_id }}</td>
				<td>{{ toCancelpingkong.status }}</td>
				<td>{{ toCancelpingkong.type }}</td>
				<td>{{ toCancelpingkong.deal_amount }}</td>
				<td>{{ toCancelpingkong.amount }}</td>
				<td>{{ formatDate(toCancelpingkong.create_date) }}</td>
				<td>{{ toCancelpingkong.price }}</td>
				<td>{{ canClose }}</td>
			</tr>
		</table>
		<p>ticker: sell：{{ tickerData.sell }}, buy: {{ tickerData.buy }}, last: {{ tickerData.last }}</p>
		<div>
			<p>手动校准ema，不填则使用原来值</p>
			<div>
				设置obj2：<input v-model="inpEMA.ema3" type="text" placeholder="ema3"><input v-model="inpEMA.ema5" type="text" placeholder="ema5"><input v-model="inpEMA.ema18" type="text" placeholder="ema18">
			</div>
			<button @click="setInpEMA">确认</button>
		</div>

		<table v-if="objs.length>0">
			<tr>
				<th>时间</th><th>ema3</th><th>比较</th><th>ema18</th><th>ema5</th><th>收盘价</th><th>isValid</th>
			</tr>
			<tr v-for="item in objs">
				<td>{{ item.formatTime }}</td>
				<td>{{ item.ema3 }}</td>
				<td><span v-if="item.ema3<item.ema18">&lt;</span><span v-if="item.ema3>item.ema18">&gt;</span></td>
				<td>{{ item.ema18 }}</td>
				<td>{{ item.ema5 }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.isValid }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th>id</th>
			</tr>
			<tr v-for="item in chases">
				<td>{{ item.id }}</td>
			</tr>
		</table>

		<div id="wrap">
			<div id="error">
				<p>error_msg:</p>
				<p v-html="strError" style="color:red;"></p>
			</div>
			<div id="info">
				<p>info_msg:</p>
				<p v-html="strInfo" style=""></p>
			</div>
		</div>


		
		<div>
			<p v-if="startTime" >
				系统启动时间：{{formatDate(startTime)}}
			</p>
		</div>
		<div id="status">
			<p v-if="connected>0">CONNECTED:+{{connected}}</p>
			<p v-if="error>0">ERROR:+{{error}} {{errorStr}}</p>
			<p v-if="disconnected>0">DISCONNECTED:+{{disconnected}}</p>
		</div>
		<div id="output"></div>
	</div>
</body>
<script type="text/javascript" src="MD5.js"></script>
<script src="../jquery-3.2.1.js"></script>
<script src="../vue.js"></script>
<script>
var app = new Vue({
	el:"#app",
	data: {
		canClose: false,
		reasonD:'',
		reasonK:'',
		toCancelpingduo:{},
		toCancelpingkong:{},
		testNUM:'',
		writableArr:[],
		interuptK: false,
		interuptD: false,
		canUseAmount:'',
		positionD:{},
		positionK:{},
		tickerData:{},
		inpEMA:{
			ema3:'',
			ema5:'',
			ema18:''
		},
		strError:'',
		strInfo:'',
		EMA3:'',
		EMA5:'',
		EMA18:'',
		obj1:{},
		obj2:{},
		obj3:{},
		chase1:{},
		chase2:{},
		chase3:{},
		chase4:{},
		//objs:[],
		okCoinWebSocket:{},

		posState: '',
		rateFlag: '',
		nextDealTime: '',
		curTime: '',

		//开多订单库
		proxyingArr: [],
		//正在请求中的开多订单库
		proxyingArr1: [],
		//平多订单库
		sellingArr:[],

		//当前kline开盘价
		kaipan15min:'',
		//当前cycle的时间戳，与开盘价一同更新
		cur15minTime:'',
		
		
		//所有未完成订单 {order_id:'',seq:''}
		allOrder:[],
		//所有已完成、未完成订单 
		finishArr: [],
		unfinishArr: [],
		//系统启动时间
		startTime: '',
		//将要撤单的订单
		retreatArr: [],
		//将要平的多单
		plantArr: [],
		//将要平仓的多单
		nextTickAmount: [],
		//打印信息
		programInfo: [],
		connected: 0,
		error: 0,
		disconnected: 0,
		errorStr: '',

		cycleNum:900000,
		subKline:'ok_sub_futureusd_btc_kline_quarter_15min',
		kaiduoRate1:1.00201,
		kaiduoRate2:0.001,
		pingduoRate1:0.996,
		//pingduoRate1:0.99402,
		pingduoRate2:1.0014,
		deltaLimit:30000,
		delta:0,
		amount: 12,
		changingAmount: 0,
		leverRate:20,

		origin:1.00201,


		curOrder:'',
		dueAmount:0,

		receiveTime:0,
		sendTime:0,


		allPlantArr:[],
		//移仓
		transArr:[],
		handleTransArr:[]






	},
	watch: {

	},
	computed: {
		direction: function(){
			var $this = this;
			var obj2 = $this.obj2;
			if(obj2.ema3>obj2.ema18){
				return 'd'
			}else if(obj2.ema3<obj2.ema18){
				return 'k'
			}else{
				$this.logInfo("obj2.ema3==obj2.ema18，不会发生开仓",'direction')
			}
		},
		readableArr: function(){
			var $this = this;
			var arr = $this.writableArr.slice(0)
			if(arr.length>0){
				arr.sort($this.stob)
			}

			//window.localStorage.setItem("deltaArr", JSON.stringify($this.writableArr))

			return arr;

		},
		objs: function(){
			var $this = this;
			var arr = [];
			arr.push($this.obj1)
			arr.push($this.obj2)
			arr.push($this.obj3)	
			return arr
		},
		chases: function(){
			var $this = this;
			var arr = [];
			arr.push($this.chase1);
			arr.push($this.chase2);
			arr.push($this.chase3);
			arr.push($this.chase4);
			return arr
		}

	},
	methods: {
		insertWritableArr: function(num){
			var $this = this;
			var t = parseFloat(num.toFixed(8))
			$this.writableArr.push(t);
			$this.writableArr.sort($this.stob)
			window.localStorage.setItem("deltaArr", JSON.stringify($this.writableArr));
			$this.logInfo("writable插入了"+t+",插入并排序后为"+JSON.stringify($this.writableArr),"insertWritableArr()")

		},
		updateWritableArr: function(index, num){
			var $this = this;
			var t = parseFloat(num.toFixed(8))
			if(t<0){
				$this.writableArr.shift(index);
				window.localStorage.setItem("deltaArr", JSON.stringify($this.writableArr));
				$this.logInfo("因为update时num<0, writable移除0位置元素,移除后为"+JSON.stringify($this.writableArr),"ok_futureusd_orderinfo")
				return;
			}
			$this.writableArr.splice(index, 1, t)
			window.localStorage.setItem("deltaArr", JSON.stringify($this.writableArr));
			$this.logInfo("writable更新"+index+"位置的值为"+t+",更新后为"+JSON.stringify($this.writableArr),"updateWritableArr()")

		},
		test:function(){
			var $this = this;

			$this.writableArr.shift(0)
		},
		stob:function(a,b){

			return a-b;

		},
		setInpEMA: function(){
			var $this = this;
			for(var i in $this.inpEMA){
				if($this.inpEMA[i]!=''){
					$this.logInfo("手动校准了"+i+",原值："+$this.obj2[i]+",新值："+$this.inpEMA[i], "setInpEMA()")
					$this.obj2[i] = parseFloat($this.inpEMA[i]);

				}
			}
			window.localStorage.setItem("EMAFixdata", JSON.stringify($this.objs))
		},
		logError: function(str, funcName){
			var $this = this;
			var cur = $this.formatDate(new Date().getTime());
			
			if(window.localStorage.getItem('EMAFixError')===null){
				$this.strError = cur + ', ' + str + ', ' + funcName + '<br>';
			}else{
				var oldStr = window.localStorage.getItem('EMAFixError');
				$this.strError = oldStr + cur + ', ' + str + ', ' + funcName + '<br>';
			}
			window.localStorage.setItem("EMAFixError", $this.strError);
		},
		logInfo: function(str, funcName){
			var $this = this;
			var cur = $this.formatDate(new Date().getTime());
			
			if(window.localStorage.getItem('EMAFixInfo')===null){
				$this.strInfo = cur + ', ' + str + ', ' + funcName + '<br>';
			}else{
				var oldStr = window.localStorage.getItem('EMAFixInfo');
				$this.strInfo = oldStr + cur + ', ' + str + ', ' + funcName + '<br>';
			}
			window.localStorage.setItem("EMAFixInfo", $this.strInfo);
		},
		initEMA: function(arr){
			var $this = this;
			var len = arr.length;
			if(len<13){
				
				$this.logError("K线数据不足13", 'initEMA()')
				return;
			}
			var startY3=0, startY5=0, startY10=0;
			for(var i=0; i<3; i++){
				startY3 += arr[i][4]*(i+1)/6
			}
			for(var i=0; i<5; i++){
				startY5 += arr[i][4]*(i+1)/15
			}
			for(var i=0; i<18; i++){
				startY10 += arr[i][4]*(i+1)/171
			}

			var objs = [], obj1 = {}, obj2 = {}, obj3 = {};
			
			for(i=3; i<len; i++){
				startY3 = (2*arr[i][4]+(3-1)*startY3)/(3+1)
				if(i==len-3){
					startY3 = parseFloat(startY3.toFixed(2))
					obj1.timestamp = arr[i][0];
					obj1.price = arr[i][4];
					obj1.ema3 = startY3;
					obj1.formatTime = $this.formatDate(parseInt(obj1.timestamp));
					obj1.isValid = true;
				}else if(i==len-2){
					startY3 = parseFloat(startY3.toFixed(2))
					startY3 = parseFloat(startY3.toFixed(2))
					obj2.timestamp = arr[i][0];
					obj2.price = arr[i][4];
					obj2.ema3 = startY3;
					obj2.formatTime = $this.formatDate(parseInt(obj2.timestamp));
					obj2.isValid = true;
				}else if(i==len-1){
					startY3 = parseFloat(startY3.toFixed(2))
					startY3 = parseFloat(startY3.toFixed(2))
					obj3.timestamp = arr[i][0];
					obj3.price = arr[i][4];
					obj3.ema3 = startY3;
					obj3.formatTime = $this.formatDate(parseInt(obj3.timestamp));
				}
				//console.log("Y3" + "-" + $this.formatDate(parseInt(arr[i][0])) + ': ' + startY3)				
			}
			for(i=5; i<len; i++){
				startY5 = (2*arr[i][4]+(5-1)*startY5)/(5+1)
				if(i==len-3){
					startY5 = parseFloat(startY5.toFixed(2))
					obj1.ema5 = startY5
				}else if(i==len-2){
					startY5 = parseFloat(startY5.toFixed(2))
					obj2.ema5 = startY5
				}else if(i==len-1){
					startY5 = parseFloat(startY5.toFixed(2))
					obj3.ema5 = startY5
				}
				//console.log("Y5" + "-" + $this.formatDate(parseInt(arr[i][0])) + ': ' + startY5)
			}
			for(i=10; i<len; i++){
				startY10 = (2*arr[i][4]+(18-1)*startY10)/(18+1)
				if(i==len-3){
					//startY10 = parseFloat(startY10.toFixed(2))
					obj1.ema18 = startY10
				}else if(i==len-2){
					startY10 = parseFloat(startY10.toFixed(2))
					obj2.ema18 = startY10
				}else if(i==len-1){
					startY10 = parseFloat(startY10.toFixed(2))
					obj3.ema18 = startY10
				}
				//console.log("Y10" + "-" + $this.formatDate(parseInt(arr[i][0])) + ': ' + startY10)
			}
			$this.obj1 = obj1;
			$this.obj2 = obj2;
			$this.obj3 = obj3;

			//$this.objs = objs;
			localStorage.setItem("EMAFixdata", JSON.stringify($this.objs))
			
		},

		testspeed: function(){
			var $this = this;
			var curTime = new Date();
			$this.sendTime = curTime;
			$this.futureTrade(1000,1,1);
		},

		formatStatus: function(s){
			var $this = this;
			switch(s){
				case 1: return "部分成交";
				break;
				case 2: return "全部成交";
				break;
				case 4: return "撤单处理中";
				break;
				case -1: return "撤单";
				break;
				case 0: return "等待成交";
				break;
				default:
				return '';
				break;
			}
		},
		formatDate: function(date){
			var d = new Date(date);
			return d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()+":"+d.getMilliseconds();
		},
		start: function(){
			var $this = this;
			$this.okCoinWebSocket.init("wss://real.okex.com:10440/websocket/okexapi", "f2f01863-26fb-43d3-a2aa-102342d1fb30", "");
			$this.startTime = new Date().getTime();

		},
		removeOrder: function(arr, id){
			var $this = this;
			for(var i=0; i<arr.length; i++){
				if(arr[i].order_id == id){
					var temp = arr[i]
					arr.splice(i, 1);
					return temp;
				}
			}
			return -1;
		},
		addOrder: function(arr, id, order){
			var $this = this;
			for(var i=0; i<arr.length; i++){
				if(arr[i].order_id == id){
					return;
				}
			}
			arr.push(order);
		},
		updateOrder: function(arr, id, order){
			var $this = this;
			for(var i=0; i<arr.length; i++){
				if(arr[i].order_id == id){
					var temp = arr[i]
					arr[i] = order;
					return temp;
				}
			}
			//如果没有查到
			//arr.push(order)
			return -1;
		},
		searchOrder: function(arr, id){
			var $this = this;
			for(var i=0; i<arr.length; i++){
				if(arr[i].order_id == id){
					return i;
				}
			}
			return -1;
		},
		search:function(arr,num){
			var $this = this;
			for(var i=0; i<arr.length; i++){
				if(arr[i] == num){
					return i;
				}
			}
			return -1;
		},
		decideYs: function(data){
			var $this = this;
			if(window.localStorage.getItem("EMAFixdata")===null){
				$this.initEMA(data);
			}else{
				var arr = JSON.parse(window.localStorage.getItem("EMAFixdata"))
				console.log("EMAFixdata form localStorage: "+JSON.stringify(arr))
				var obj = arr[1]
				if(obj.timestamp < data[0][0]-900000){
					window.localStorage.removeItem("EMAFixdata")
					$this.logInfo("缓存数据过时，清空ls的EMAFixdata","decideYs")
					$this.initEMA(data);
				}else{
					$this.alterEMA(data, obj);
				}
			}
		},
		alterEMA: function(data, obj){
			var $this = this;
			var startIndex = 0;
			for(var i=0; i<data.length; i++){
				if(obj.timestamp == data[i][0]-900000){
					startIndex = i;
					break;
				}
			}
			var len = data.length;
			var objs = JSON.parse(window.localStorage.getItem("EMAFixdata"))

			//一组K线数据最后一个元素正好是obj3,将ls的emaFixdata直接还原即可
			if(startIndex == data.length-1){
				$this.obj1 = objs[0];
				$this.obj2 = objs[1];
				$this.obj3 = objs[2];
				console.log("一组K线数据最后一个元素正好是obj3,将ls的emaFixdata直接还原即可")
				$this.logInfo("一组K线数据最后一个元素正好是obj3,将ls的emaFixdata直接还原即可","alterEMA()")
				window.localStorage.setItem("EMAFixdata", JSON.stringify($this.objs))
				return;
			}else if(startIndex == data.length-2){
				$this.obj1 = objs[1]
				$this.obj2.timestamp = data[len-2][0]
				$this.obj2.price = data[len-2][4]
				$this.obj2.ema3 = $this.calema(data[len-2][4], 3, $this.obj1.ema3);
				$this.obj2.ema5 = $this.calema(data[len-2][4], 5, $this.obj1.ema5);
				$this.obj2.ema18 = $this.calema(data[len-2][4], 18, $this.obj1.ema18);
				$this.obj2.isValid = true;
				$this.obj2.formatTime = $this.formatDate( parseInt($this.obj2.timestamp) );
				$this.obj3 = {
					timestamp: data[len-1][0],
					price: data[len-1][4],
					formatTime: $this.formatDate( parseInt(data[len-1][0]) )
				}
				window.localStorage.setItem("EMAFixdata", JSON.stringify($this.objs))
				$this.logInfo("EMAFixdata落后这组K线1个周期","alterEMA()")
				return;

			}
			var y3;
			for(var i=startIndex; i<data.length; i++){
				//(2*data[i][4] + (3-1)*obj.ema3) / (3+1)
				obj.ema3 = $this.calema(data[i][4], 3, obj.ema3)
				obj.ema5 = $this.calema(data[i][4], 5, obj.ema5)
				obj.ema18 = $this.calema(data[i][4], 18, obj.ema18)
				if(i == data.length-3){
					$this.obj1.timestamp = data[len-3][0];
					$this.obj1.price = data[len-3][4];
					$this.obj1.ema3 = obj.ema3;
					$this.obj1.ema5 = obj.ema5;
					$this.obj1.ema18 = obj.ema18;
					$this.obj1.isValid = true;
					$this.obj1.formatTime = $this.formatDate( parseInt(data[i][0]) )
				}else if(i == data.length-2){
					$this.obj2.timestamp = data[len-2][0];
					$this.obj2.price = data[len-2][4];
					$this.obj2.ema3 = obj.ema3;
					$this.obj2.ema5 = obj.ema5;
					$this.obj2.ema18 = obj.ema18;
					$this.obj2.isValid = true;
					$this.obj2.formatTime = $this.formatDate( parseInt(data[i][0]) )
				}else if(i == data.length-1){
					$this.obj3.timestamp = data[len-1][0];
					$this.obj3.price = data[len-1][4];
					//$this.obj3.ema3 = obj.ema3;
					//$this.obj3.ema5 = obj.ema5;
					//$this.obj3.ema18 = obj.ema18;
					//$this.obj3.isValid = true;
					$this.obj3.formatTime = $this.formatDate( parseInt(data[i][0]) )
				}else{
					continue;
				}
			}
			$this.logInfo("EMAFixdata落后这组K线1个周期以上","alterEMA()")
			window.localStorage.setItem("EMAFixdata", JSON.stringify($this.objs))


		},
		calema: function(p, n, y){
			var $this= this;
			var num = parseFloat(((2*p + (n-1)*y)/(n+1)).toFixed(2))
			return num;
		},
		openLong: function(){
			var $this = this;
			if($this.positionD.hold_amount>=$this.amount){
				return;
			}else{
				//var max = parseFloat( Math.max($this.tickerData.sell, $this.kaipan15min) );
				//$this.futureTrade(max, 1, $this.amount-$this.positionD.hold_amount)
				$this.futureTrade(parseFloat($this.tickerData.buy)+0.22, 1, $this.amount-$this.positionD.hold_amount)
				//$this.futureTrade(parseFloat($this.tickerData.buy)*1.001, 1, $this.amount-$this.positionD.hold_amount)
			}
		},
		openShort: function(){
			var $this = this;
			if($this.positionK.hold_amount>=$this.amount){
				return;
			}else{
				//var min = parseFloat( Math.min($this.tickerData.buy, $this.kaipan15min) );
				//$this.futureTrade(min, 2, $this.amount)
				$this.futureTrade(parseFloat($this.tickerData.sell)-0.22, 2, $this.amount-$this.positionK.hold_amount)
				//$this.futureTrade(parseFloat($this.tickerData.sell)*0.999, 2, $this.amount-$this.positionK.hold_amount)
			}
		},
		closeLong: function(){
			var $this = this;
			if($this.positionD.hold_amount==0){
				return;
			}else{
				if($this.positionD.eveningup>0){
					//var min = parseFloat( Math.min($this.tickerData.buy, $this.kaipan15min) );
					//$this.futureTrade(min, 3, $this.positionD.eveningup);
					$this.futureTrade(parseFloat($this.tickerData.sell)-0.22, 3, $this.positionD.eveningup)
					//$this.futureTrade(parseFloat($this.tickerData.sell)*0.999, 3, $this.positionD.eveningup)
				}else{
					$this.logError("平多过程中，有多仓位，但是无可平仓位", "closeLong()")
				}
			}
		},
		closeShort: function(){
			var $this = this;
			if($this.positionK.hold_amount==0){
				return;
			}else{
				if($this.positionK.eveningup>0){

					//var max = parseFloat( Math.max($this.tickerData.sell, $this.kaipan15min) );
					//$this.futureTrade(max, 4, $this.positionK.eveningup);
					$this.futureTrade(parseFloat($this.tickerData.buy)+0.22, 4, $this.positionK.eveningup)
					//$this.futureTrade(parseFloat($this.tickerData.buy)*1.001, 4, $this.positionK.eveningup)
				}else{
					$this.logError("平空过程中，有空仓位，但是无可平仓位", "closeShort()")
				}
			}
		},
		checkStatus: function(obj1, obj2){
			var $this = this;
			/*var obj1 = $this.obj1;
			var obj2 = $this.obj2;*/
			var delta = parseFloat( (obj2.ema5-obj2.ema18).toFixed(2) )
			if(obj1.ema3 <= obj1.ema18 && obj2.ema3 > obj2.ema18){
				//ema3 上穿 ema18
				//if((delta <= 0.36 && delta >=-0.36)||(delta > 1.5)||(delta < -0.6)){
				if((delta <= 1.5 && delta >=-0.6)||(delta > 1.5)||(delta < -0.6)){
					$this.logInfo("开多平空信号出现","checkStatus()")

					$this.openLong()
					$this.cancel45();
					$this.closeShort()
				}else{
					$this.logInfo("ema3上穿ema18,但是ema5-ema18="+delta+"，丢弃","checkStatus()")
				}
				/*if(obj2.ema3 > obj2.ema5){
					$this.logInfo("平空信号出现","checkStatus()")
					$this.cancel45();
					$this.closeShort()
				}else{
					$this.logInfo("ema3上穿ema18，但是ema3还没有击穿ema5，暂不平空","checkStatus()")
				}*/
				$this.logInfo("ema3/5/18:"+obj2.ema3+', '+obj2.ema5+', '+obj2.ema18, "checkStatus()");
			}else if(obj1.ema3 >= obj1.ema18 && obj2.ema3 < obj2.ema18){
				//ema3 下穿 ema18
				//if((delta <= 0.36 && delta >=-0.36)||(delta < -1.5)||(delta > 0.6)){
				if((delta <= 0.6 && delta >=-1.5)||(delta < -1.5)||(delta > 0.6)){
					$this.logInfo("开空平多信号出现","checkStatus()")
					$this.openShort();
					$this.cancel55();
					$this.closeLong();
				}else{
					$this.logInfo("ema3下穿ema18，但是ema5-ema18="+delta+"，丢弃","checkStatus()")
				}
				/*if(obj2.ema3 < obj2.ema5){
					$this.logInfo("平多信号出现","checkStatus()")
					$this.cancel55();
					$this.closeLong();
				}else{
					$this.logInfo("ema3下穿ema18，但是ema3还没有击穿ema5，暂不平多","checkStatus()")
				}*/
				$this.logInfo("ema3/5/18:"+obj2.ema3+', '+obj2.ema5+', '+obj2.ema18, "checkStatus()");
			}else{
				if(obj1.ema3 < obj1.ema18 && obj2.ema3 < obj2.ema18){
					if(obj1.ema3 >= obj1.ema5 && obj2.ema3 < obj2.ema5){
						$this.logInfo("可能是迟到的平多信号，取决于是否持有多仓","checkStatus()")
						
					}
					$this.cancel55();
					$this.closeLong();
				}else if(obj1.ema3 > obj1.ema18 && obj2.ema3 > obj2.ema18){
					if(obj1.ema3 <= obj1.ema5 && obj2.ema3 > obj2.ema5){
						$this.logInfo("可能是迟到的平空信号，取决于是否持有空仓","checkStatus()")
						
					}
					$this.cancel45();
					$this.closeShort();
				}

			}
			$this.delayCancel(1000);
		},
		reMakeOrder: function(type){
			var $this = this;
			if(type==1||type==2){
				if($this.interuptD==true||$this.interuptK==true){
					$this.logError("interupt，停止追仓","reMakeOrder()")
					return;
				}
			}
			if(type==3){
				if($this.positionD.hold_amount!=$this.positionD.eveningup){
					$this.logError("多仓的hold_amount不等于eveningup可平量，讲道理，加个定时器","reMakeOrder()")
					var timer = setInterval(function(){
						if($this.positionD.hold_amount==$this.positionD.eveningup){
							$this.futureTrade(parseFloat($this.tickerData.sell-5), 3, $this.positionD.hold_amount );
							$this.delayCancel(1000);
							clearInterval(timer);
						}
					}, 100);
				}else{
					$this.futureTrade(parseFloat($this.tickerData.sell-5), 3, $this.positionD.hold_amount );
					$this.delayCancel(1000);
				}
			}else if(type==4){
				if($this.positionK.hold_amount!=$this.positionK.eveningup){
					$this.logError("空仓的hold_amount不等于eveningup可平量，讲道理，加个定时器","reMakeOrder()")
					var timer = setInterval(function(){
						if($this.positionK.hold_amount==$this.positionK.eveningup){
							$this.futureTrade(parseFloat($this.tickerData.buy+5), 4, $this.positionK.hold_amount );
							$this.delayCancel(1000);
							clearInterval(timer);
						}
					}, 100);
				}else{
					$this.futureTrade(parseFloat($this.tickerData.buy+5), 4, $this.positionK.hold_amount );
					$this.delayCancel(1000);
				}
			}else if(type==1){

				var need = $this.amount - $this.positionD.hold_amount;
				if($this.canUseAmount < need){
					$this.logError("开多可用保证金不足，讲道理已经延时1s了还不足，有问题，先不开了",'reMakeOrder()')
/*					var timer = setInterval(function(){
						if($this.canUseAmount >= need){
							$this.futureTrade(parseFloat($this.tickerData.buy+0.05), 1, $this.amount - $this.positionD.hold_amount );
							$this.logInfo("刚发出开多指令，pD.hold_amount:"+$this.positionD.hold_amount+",tickerData.buy:"+$this.tickerData.buy,"reMakeOrder()")
							clearInterval(timer);
						}
					},100)*/
				}else{

					$this.futureTrade(parseFloat($this.tickerData.buy+5), 1, $this.amount - $this.positionD.hold_amount );
					$this.delayCancel(1000);
					$this.logInfo("刚发出开多指令，pD.hold_amount:"+$this.positionD.hold_amount+",tickerData.buy:"+$this.tickerData.buy,"reMakeOrder()")


				}
				


								
			}else if(type==2){

				var need = $this.amount - $this.positionK.hold_amount
				if($this.canUseAmount < need){
					$this.logError("开空可用保证金不足，讲道理已经延时1s了还不足，有问题，先不开了",'reMakeOrder()')
/*					var timer = setInterval(function(){
						if($this.canUseAmount >= need){
							$this.futureTrade(parseFloat($this.tickerData.sell-0.05), 2, $this.amount - $this.positionK.hold_amount);
							$this.logInfo("刚发出开空指令，pK.hold_amount:"+$this.positionK.hold_amount+",tickerData.sell:"+$this.tickerData.sell,"reMakeOrder()")
							clearInterval(timer)
						}
					} ,100)*/
				}else{
					$this.futureTrade(parseFloat($this.tickerData.sell-5), 2, $this.amount - $this.positionK.hold_amount);
					$this.delayCancel(1000);
					$this.logInfo("刚发出开空指令，pK.hold_amount:"+$this.positionK.hold_amount+",tickerData.sell:"+$this.tickerData.sell,"reMakeOrder()")
				}


				
				
			}else{
				$this.logError("type="+type,"reMakeOrder()")
			}

		},
		chaseOrder: function(order){
			var $this = this
			var type = parseInt(order.type);

			
			
			switch(type){
				case 1: $this.chase1.id = order.order_id;
				break;
				case 2: $this.chase2.id = order.order_id;
				break;
				case 3: $this.chase3.id = order.order_id;
				break;
				case 4: $this.chase4.id = order.order_id;
				break;
				default: break;
			}

			$this.futureCancelOrder(order.order_id);
			$this.logInfo("已经发出了撤单指令，所撤单的create_date: "+$this.formatDate( new Date(parseInt(order.create_date)).getTime() )+",所撤单的订单类型："+order.type,"chaseOrder()")

		},
/*		checkInterupt: function(){
			var $this = this;
			var obj2 = $this.obj2
			var obj3 = $this.obj3
			if(obj2.ema3>obj2.ema18){
				if(obj3.ema3/obj3.ema18<0.998){
					$this.closeLong();
					$this.logInfo("若有多仓，提前平多，若在开多，停止开多，把它平掉"+obj3.price,"checkInterupt()")
					$this.interuptD = true;
				}
			}else if(obj2.ema3<obj2.ema18){
				if(obj3.ema3/obj3.ema18>1.002){
					$this.closeShort();
					$this.logInfo("若有空仓，提前平空，若在开空，停止开空，把它平掉"+obj3.price,"checkInterupt()")
					$this.interuptK = true;
				}
			}
		},*/
		cancel55:function(){
			var $this = this;
			$this.reasonD = $this.positionD.avgprice;
			$this.logInfo("reasonD: "+$this.reasonD, "cancel55()")
			if($this.toCancelpingduo.status!=2 && $this.toCancelpingduo.status!=-1){
				$this.futureCancelOrder($this.toCancelpingduo.order_id);
			}
			
			
		},
		cancel45:function(){
			var $this = this;
			$this.reasonK = $this.positionK.avgprice;
			$this.logInfo("reasonK: "+$this.reasonK, "cancel45()")
			if($this.toCancelpingkong.status!=2 && $this.toCancelpingkong.status!=-1){
				$this.futureCancelOrder($this.toCancelpingkong.order_id);
			}
			
		},
		onMessage: function(e) {
			var $this = this;
			//$this.recCount++;
			//console.log($this.formatDate(new Date().getTime()) + ": " + e.data)
			var array = JSON.parse(e.data);
			//msg为除了pong以外的数据消息
			if(array.length==1){
				var msg = array[0];
				if(msg){
					if(msg['channel']=="ok_sub_futureusd_btc_kline_quarter_15min"){
						console.log($this.formatDate(new Date().getTime()) + ": " + e.data)
						if(msg['data'].length>1){
							$this.decideYs(msg.data);
							
						}else{
							var data = msg['data'][0];

							if($this.obj3.timestamp == data[0]-900000){
								$this.interuptK = false;
								$this.interuptD = false;
								$this.logInfo( "新的k线来了，K线时间是："+$this.formatDate( parseInt(data[0]) ),'ok_sub_futureusd_btc_kline_quarter_15min' )
								$this.kaipan15min = data[1]
								$this.obj1 = $this.obj2;
								$this.obj2 = $this.obj3;
								$this.obj2.isValid = true;
								$this.checkStatus($this.obj1, $this.obj2);
								$this.obj3 = {
									timestamp: data[0],
									price: data[4],
									formatTime: $this.formatDate( parseInt(data[0]) )

								}
								window.localStorage.setItem("EMAFixdata", JSON.stringify($this.objs))
								console.log("set data .............................")
							}else if($this.obj3.timestamp == data[0]){
								$this.obj3.price = data[4];
								$this.obj3.ema3 = $this.calema(data[4], 3, $this.obj2.ema3)
								$this.obj3.ema5 = $this.calema(data[4], 5, $this.obj2.ema5)
								$this.obj3.ema18 = $this.calema(data[4], 18, $this.obj2.ema18)
								/*if($this.interuptD==false && $this.interuptK==false){
									$this.checkInterupt();
								}*/
								
							}else{
								$this.logError( "obj3时间："+$this.obj3.timestamp+"错误，新来的K线数据时间："+$this.formatDate(parseInt(data[0])), "ok_sub_futureusd_btc_kline_quarter_15min" )
								return;
							}

							if($this.cur15minTime < data[0]){
								console.info($this.cur15minTime+","+data[0])
							
								$this.cur15minTime = data[0];
								
							}
						}
						
						
						
						


					}
					else if(msg['channel']=="ok_futureusd_orderinfo"){
						//console.info("okinfo come in")
						console.log($this.formatDate(new Date().getTime()) + ": " + e.data)
						if(msg['data'].result&&msg['data'].result!='false'){
							for(var i=0; i<msg['data'].orders.length; i++){
								var order = msg['data'].orders[i];
								if(order.price>=99998){

									$this.futureCancelOrder(order.order_id);
									continue;
								}
								if( (order.price%1).toFixed(2)==0.55 ){
									$this.toCancelpingduo = order;
									window.localStorage.setItem("toCancelpingduo",JSON.stringify($this.toCancelpingduo))
									$this.canClose = false;
									if($this.readableArr.length>0){
										if(order.status==2){
											$this.writableArr.shift(0);
											window.localStorage.setItem("deltaArr", JSON.stringify($this.writableArr));
											$this.logInfo("writable移除0位置元素,移除后为"+JSON.stringify($this.writableArr),"ok_futureusd_orderinfo")
											$this.canClose = true
											
											
										}else if(order.status==-1){
											if(order.deal_amount==0){
												var result = $this.kaipan15min/$this.reasonD;
												if(result<1.005){
													//$this.writableArr.push(1.005-result);
													$this.insertWritableArr(1.005-result)
												}else{
													//$this.writableArr[0] -= result-1.005
													var temp = $this.writableArr[0] - (result-1.005) 
													$this.updateWritableArr(0, temp)
												}
											}else if(order.deal_amount>0&&oder.deal_amount<order.amount){
												var result = $this.kaipan15min/$this.reasonD;
												var percent = order.deal_amount/order.amount;
												//$this.writableArr[0] *= 1-percent
												var temp = $this.writableArr[0] * (1-percent) 
												$this.updateWritableArr(0, temp)
												if(result<1.005){
													//$this.writableArr.push((1.005-result)*(1-percent));
													$this.insertWritableArr((1.005-result)*(1-percent))
												}else{
													//$this.writableArr[0] -= (result-1.005)*percent
													var temp = $this.writableArr[0] - (result-1.005)*percent 
													$this.updateWritableArr(0, temp)
												}
											}else if(order.deal_amount == order.amount){
												$this.logError("完全成交了你还能-1？","ok_futureusd_orderinfo")
											}
											$this.canClose = true
										}
									}else{
										if(order.status==2){
											//什么也不用做，1.005成交了	,arr保持0就ok
											$this.canClose = true
											
										}else if(order.status==-1){

											if(order.deal_amount==0){
												var result = $this.kaipan15min/$this.reasonD;
												$this.logInfo("kaipan15min: "+$this.kaipan15min+", reasonD:"+$this.reasonD+", result:"+result,"ok_futureusd_orderinfo")
												if(result<1.005){
													//$this.writableArr.push(1.005-result);
													$this.insertWritableArr(1.005-result)
												}
											}else if(order.deal_amount>0&&oder.deal_amount<order.amount){
												var result = $this.kaipan15min/$this.reasonD;
												$this.logInfo("kaipan15min: "+$this.kaipan15min+", reasonD:"+$this.reasonD+", result:"+result,"ok_futureusd_orderinfo")
												var percent = order.deal_amount/order.amount;
												if(result<1.005){
													//$this.writableArr.push((1.005-result)*(1-percent));
													$this.insertWritableArr((1.005-result)*(1-percent))
												}
											}else if(order.deal_amount == order.amount){
												$this.logError("完全成交了你还能-1？","ok_futureusd_orderinfo")
											}
											$this.canClose = true
										}

									}
									continue;
								}
								if( (order.price%1).toFixed(2)==0.45 ){
									$this.toCancelpingkong = order;
									window.localStorage.setItem("toCancelpingkong",JSON.stringify($this.toCancelpingkong))
									$this.canClose = false;
									if($this.readableArr.length>0){
										if(order.status==2){
											$this.writableArr.shift(0);
											window.localStorage.setItem("deltaArr", JSON.stringify($this.writableArr));
											$this.logInfo("writable移除0位置元素,移除后为"+JSON.stringify($this.writableArr),"ok_futureusd_orderinfo")
											$this.canClose = true
											
											
										}else if(order.status==-1){
											if(order.deal_amount==0){
												var result = $this.kaipan15min/$this.reasonK;
												if(result>0.995){
													//$this.writableArr.push(result-0.995);
													$this.insertWritableArr(result-0.995)
												}else{
													//$this.writableArr[0] -= 0.995-result
													var temp = $this.writableArr[0] - (0.995-result) 
													$this.updateWritableArr(0, temp)
												}
											}else if(order.deal_amount>0&&oder.deal_amount<order.amount){
												var result = $this.kaipan15min/$this.reasonK;
												var percent = order.deal_amount/order.amount;
												//$this.writableArr[0] *= 1-percent
												var temp = $this.writableArr[0] * (1-percent) 
												$this.updateWritableArr(0, temp)
												if(result>0.995){
													//$this.writableArr.push((result-0.995)*(1-percent));
													$this.insertWritableArr((result-0.995)*(1-percent))
												}else{
													//$this.writableArr[0] -= (0.995-result)*percent
													var temp = $this.writableArr[0] - (0.995-result)*percent 
													$this.updateWritableArr(0, temp)
												}
											}else if(order.deal_amount == order.amount){
												$this.logError("完全成交了你还能-1？","ok_futureusd_orderinfo")
											}
											$this.canClose = true
										}
									}else{
										if(order.status==2){
											//什么也不用做，1.005成交了	,arr保持0就ok
											$this.canClose = true
										}else if(order.status==-1){
											if(order.deal_amount==0){
												var result = $this.kaipan15min/$this.reasonK;
												$this.logInfo("kaipan15min: "+$this.kaipan15min+", reasonK:"+$this.reasonK+", result:"+result,"ok_futureusd_orderinfo")
												if(result>0.995){
													//$this.writableArr.push(result-0.995);
													$this.insertWritableArr(result-0.995)
												}
											}else if(order.deal_amount>0&&oder.deal_amount<order.amount){
												var result = $this.kaipan15min/$this.reasonK;
												$this.logInfo("kaipan15min: "+$this.kaipan15min+", reasonK:"+$this.reasonK+", result:"+result,"ok_futureusd_orderinfo")
												var percent = order.deal_amount/order.amount;
												if(result>0.995){
													//$this.writableArr.push((0.995-result)*(1-percent));
													$this.insertWritableArr((0.995-result)*(1-percent))
												}
											}else if(order.deal_amount == order.amount){
												$this.logError("完全成交了你还能-1？","ok_futureusd_orderinfo")
											}
											$this.canClose = true
										}
									}
									continue;
								}
								
								if(order.symbol=='ltc_usd'){
									continue;
								}

								if(order.status == 0 || order.status == 1){
									$this.chaseOrder(order);
								}
								
								

							}
						}
					}
					else if(msg['channel']=="ok_futureusd_trade"){

						if(msg['data'].result&&msg['data'].result!='false'){
							
							var time = new Date().getTime()
							$this.receiveTime = time;
							var order = {
								order_id: msg['data'].order_id,
								order_time: time-time%$this.cycleNum
							}

							//$this.allOrder.push(order);
							//$this.proxyingArr.push(order);
							
						}else{
							console.log($this.formatDate(new Date().getTime()) + ": " + e.data)
							$this.logError("error_code:"+msg.data['error_code'],"ok_futureusd_trade")
						}
					}else if(msg['channel']=='ok_futureusd_cancel_order'){

						if(msg['data'].result&&msg['data'].result!='false'){
							var id = msg['data'].order_id;

							if(id==$this.toCancelpingduo.order_id){
								
								if($this.toCancelpingduo.type==3){
									setTimeout(function(){
										$this.reMakeOrder(3)
									},900)
								}else{
									$this.logError("toCancelpingduo.type=="+toCancelpingduo.type,"ok_futureusd_cancel_order")
								}
							}else if(id==$this.toCancelpingkong.order_id){
								if($this.toCancelpingkong.type==4){
									setTimeout(function(){
										$this.reMakeOrder(4)
									},900)
								}else{
									$this.logError("toCancelpingkong.type=="+toCancelpingkong.type,"ok_futureusd_cancel_order")
								}
							}

							for(var i=0; i<$this.chases.length; i++){
								if($this.chases[i].id == id){
									setTimeout(function(){
										$this.reMakeOrder(i+1);
									}, 900)

									$this.logInfo("撤单成功，1s后追单，类型为:"+(i+1),"ok_futureusd_cancel_order")
									break;
								}
							}



							
						}else{
							$this.logError("撤单失败","ok_futureusd_cancel_order")
						}
					}else if(msg['channel']=="ok_sub_futureusd_btc_ticker_quarter"){
						var data = msg['data'];
						$this.tickerData = data;

						


					}else if(msg['channel']=="ok_sub_futureusd_positions"){
						console.log($this.formatDate(new Date().getTime()) + ": " + e.data);
						if(msg['data']['symbol']=='btc_usd'){
							var positionArr = msg['data']['positions']
							var dAmount = 0;
							var kAmount = 0;  
							for(var i in positionArr){
								if(positionArr[i]['position']=='1'&&positionArr[i]['lever_rate']==20){
									console.info("dudaole position in array0")
									dAmount = parseFloat(positionArr[i]['hold_amount']);
									$this.positionD.hold_amount = parseFloat(positionArr[i]['hold_amount'])
									$this.positionD.eveningup = parseFloat(positionArr[i]['eveningup'])

								}else if(positionArr[i]['position']=='2'&&positionArr[i]['lever_rate']==20){
									kAmount = parseFloat(positionArr[i]['hold_amount']);
									$this.positionK.hold_amount = parseFloat(positionArr[i]['hold_amount'])
									$this.positionK.eveningup = parseFloat(positionArr[i]['eveningup'])
								}
							}

						}
						

					}
				}
			}else{
				var msg = array;
				for(var i in msg){
					if(msg[i]['channel']=="ok_sub_futureusd_positions"){

						console.log($this.formatDate(new Date().getTime()) + ": " + e.data)
						if(msg[i]['data']['symbol']=='btc_usd'){
							var positionArr = msg[i]['data']['positions']
							var dAmount=0;
							var kAmount=0
							for(var i in positionArr){
								
								if(positionArr[i]['position']=='1'&&positionArr[i]['lever_rate']==20){
									
									dAmount = parseFloat(positionArr[i]['hold_amount']);
									$this.positionD.hold_amount = parseFloat(positionArr[i]['hold_amount'])
									$this.positionD.eveningup = parseFloat(positionArr[i]['eveningup'])
									$this.positionD.avgprice = parseFloat(positionArr[i]['avgprice'])
									
								}else if(positionArr[i]['position']=='2'&&positionArr[i]['lever_rate']==20){
									kAmount = parseFloat(positionArr[i]['hold_amount']);
									$this.positionK.hold_amount = parseFloat(positionArr[i]['hold_amount'])
									$this.positionK.eveningup = parseFloat(positionArr[i]['eveningup'])
									$this.positionK.avgprice = parseFloat(positionArr[i]['avgprice'])
								}
								
							}

						}
						

					}else if(msg[i]['channel']=="ok_sub_futureusd_userinfo"){
						if(msg[i]['data']['symbol']=='btc_usd'){
							var available = msg[i]['data']['contracts'][0]['available'];
							$this.canUseAmount = parseInt(available*$this.tickerData.last*$this.leverRate/100)
						}
					}
				}
			}
			



			if(array.event == 'pong') {
				$this.okCoinWebSocket.lastHeartBeat = new Date().getTime();
			} 
		},



		print: function(message) {
			var status = document.getElementById("status");
			status.style.wordWrap = "break-word";
			status.innerHTML += message + "<br/>";
		},
		doSend: function(message) {
			var $this = this;
			//$this.sendCount++;
			//$this.print("SENT: " + message);
			if($this.okCoinWebSocket){
				var ws = $this.okCoinWebSocket.websocket
				this.send = function (message, callback) {
				    this.waitForConnection(function () {
				        ws.send(message);
				        if (typeof callback !== 'undefined') {
				          callback();
				        }
				    }, 100);
				};

				this.waitForConnection = function (callback, interval) {
				    if (ws.readyState === 1) {
				        callback();
				    } else {
				        var that = this;
				        // optional: implement backoff for interval here
				        setTimeout(function () {
				            that.waitForConnection(callback, interval);
				        }, interval);
				    }
				};


				this.send(message);
			}
			
			
		},
		delayCancel: function(duration){
			var $this = this;
			/*setTimeout(function(){
				$this.futureOrderInfo(-1);
			}, duration)*/
		},
		onOpen: function(evt) {
			var $this = this;
			//$this.print("CONNECTED");
			$this.connected++;
			var str = "{'event':'addChannel','channel':'ok_sub_futureusd_btc_kline_quarter_15min'}"
			var ticker = "{'event':'addChannel','channel':'ok_sub_futureusd_btc_ticker_quarter'}"
			console.info(str);
			$this.doSend(str);
			$this.doSend(ticker);
			//现货交易、合约交易测试
			//tradeTest();
			$this.futurePositions();
			$this.futureTrade(99998,2,1);

			$this.delayCancel(1000);
			
		},


		
		onError: function(evt) {
			var $this = this;
			//$this.print('<span style="color: red;">ERROR:</span> ' + evt.data);
			$this.error++;
			$this.errorStr += error+'. '+evt.data;


		},
		onClose: function(evt) {
			var $this = this;
			//print("DISCONNECTED");
			$this.disconnected++;
		},
		checkConnect: function () {
			var $this = this;
			var ws = $this.okCoinWebSocket.websocket
			this.send = function (message, callback) {
			    this.waitForConnection(function () {
			        ws.send(message);
			        if (typeof callback !== 'undefined') {
			          callback();
			        }
			    }, 100);
			};

			this.waitForConnection = function (callback, interval) {
			    if (ws.readyState === 1) {
			        callback();
			    } else {
			        var that = this;
			        // optional: implement backoff for interval here
			        setTimeout(function () {
			            that.waitForConnection(callback, interval);
			        }, interval);
			    }
			};


			this.send("{'event':'ping'}");
			
			if ((new Date().getTime() - $this.okCoinWebSocket.lastHeartBeat) > $this.okCoinWebSocket.overtime) {
				console.log("socket 连接断开，正在尝试重新建立连接");
				//testWebSocket();
				$this.okCoinWebSocket.init("wss://real.okex.com:10440/websocket/okexapi", "f2f01863-26fb-43d3-a2aa-102342d1fb30", "");

			}
		},
		futureOrderInfo: function(orderId) {
			//-1表示未完成订单
			//console.info("i am querying info")
			var $this = this;
			var okCoinWebSocket = $this.okCoinWebSocket;
			/*var str = "api_key=" + okCoinWebSocket.api_key + "&contract_type=quarter&current_page=1&order_id=" + orderId + "&page_length=1&secret_key=" + okCoinWebSocket.secret_key + "&status=1&symbol=btc_usd"*/
			var str = "api_key=" + okCoinWebSocket.api_key + "&contract_type=quarter&current_page=1&order_id=" + orderId + "&page_length=50&status=1&symbol=btc_usd&secret_key=" + okCoinWebSocket.secret_key

			var sign = MD5(str);
			$this.doSend("{'event': 'addChannel','channel': 'ok_futureusd_orderinfo','parameters': {'api_key': '"
					+ okCoinWebSocket.api_key + "','sign': '" + sign + "','symbol': 'btc_usd','order_id': '" + orderId
					+ "','contract_type': 'quarter','status':'1','current_page':'1','page_length':'50'}}");
					
		},
		//合约下单
		futureTrade: function (price,type,amount) {
			var $this = this;
			var lv = $this.leverRate;
			price = parseFloat(price).toFixed(2);
			if((price%1).toFixed(2)==0.55){
				if(type==1||type==4){
					price = (price + 0.01).toFixed(2);
				}else{
					price = (price - 0.01).toFixed(2);
				}
			}else if((price%1).toFixed(2)==0.45){
				if(type==1||type==4){
					price = (price + 0.01).toFixed(2);
				}else{
					price = (price - 0.01).toFixed(2);
				}
			}
			
			$this.sendTime = new Date()
			var okCoinWebSocket = $this.okCoinWebSocket;
			var str = "amount="+ amount +"&api_key=" + okCoinWebSocket.api_key + 
					"&contract_type=quarter&lever_rate="+lv+"&match_price=0&price=" + price + "&symbol=btc_usd&type="+ type +"&secret_key=" + okCoinWebSocket.secret_key
	
			var sign = MD5(str);
			$this.doSend("{'event': 'addChannel','channel':'ok_futureusd_trade','parameters': {'api_key': '"+ okCoinWebSocket.api_key + "','sign': '" + sign + "','symbol': 'btc_usd','contract_type': 'quarter','amount': "+ amount +",'price': "+price+",'type': "+type+",'match_price': '0','lever_rate':" +lv+"}}");
			
		},
		futureTrade55: function (price,type,amount) {
			var $this = this;
			var lv = $this.leverRate;
			price = Math.floor(price)-1+0.55
			
			$this.sendTime = new Date()
			var okCoinWebSocket = $this.okCoinWebSocket;
			var str = "amount="+ amount +"&api_key=" + okCoinWebSocket.api_key + 
					"&contract_type=quarter&lever_rate="+lv+"&match_price=0&price=" + price + "&symbol=btc_usd&type="+ type +"&secret_key=" + okCoinWebSocket.secret_key
	
			var sign = MD5(str);
			$this.doSend("{'event': 'addChannel','channel':'ok_futureusd_trade','parameters': {'api_key': '"+ okCoinWebSocket.api_key + "','sign': '" + sign + "','symbol': 'btc_usd','contract_type': 'quarter','amount': "+ amount +",'price': "+price+",'type': "+type+",'match_price': '0','lever_rate':" +lv+"}}");
			
		},
		futureTrade45: function (price,type,amount) {
			var $this = this;
			var lv = $this.leverRate;

			price = Math.ceil(price)+0.45
			
			$this.sendTime = new Date()
			var okCoinWebSocket = $this.okCoinWebSocket;
			var str = "amount="+ amount +"&api_key=" + okCoinWebSocket.api_key + 
					"&contract_type=quarter&lever_rate="+lv+"&match_price=0&price=" + price + "&symbol=btc_usd&type="+ type +"&secret_key=" + okCoinWebSocket.secret_key
	
			var sign = MD5(str);
			$this.doSend("{'event': 'addChannel','channel':'ok_futureusd_trade','parameters': {'api_key': '"+ okCoinWebSocket.api_key + "','sign': '" + sign + "','symbol': 'btc_usd','contract_type': 'quarter','amount': "+ amount +",'price': "+price+",'type': "+type+",'match_price': '0','lever_rate':" +lv+"}}");
			
		},
		//撤单
		futureCancelOrder: function(orderId) {
			var $this = this;
			var okCoinWebSocket = $this.okCoinWebSocket;
			var sign = MD5("api_key=" + okCoinWebSocket.api_key + "&contract_type=quarter&order_id=" + orderId
					+ "&symbol=btc_usd&secret_key=" + okCoinWebSocket.secret_key);
			$this.doSend("{'event': 'addChannel','channel': 'ok_futureusd_cancel_order','parameters': {'api_key': '"
					+ okCoinWebSocket.api_key + "','sign': '" + sign + "','symbol': 'btc_usd','order_id': '" + orderId
					+ "','contract_type': 'quarter'}}");
		},
		futurePositions: function() {
			var $this = this;
			var okCoinWebSocket = $this.okCoinWebSocket;
			var sign = MD5("api_key=" + okCoinWebSocket.api_key + "&secret_key=" + okCoinWebSocket.secret_key);
			$this.doSend("{'event':'addChannel','channel':'ok_sub_futureusd_positions','parameters' :{'api_key':'"
					+ okCoinWebSocket.api_key + "','sign':'" + sign + "'}}");
		},
		setData: function(){
			var $this = this;
			var ls = window.localStorage;
			/*if(ls.getItem('EMAFixError')!==null){
				$this.strError = ls['EMAFixError'];
			}*/
			if(ls.getItem("deltaArr")!==null){
				$this.writableArr = JSON.parse(ls['deltaArr'])
			}
			if(ls.getItem("toCancelpingduo")!==null){
				$this.toCancelpingduo = JSON.parse(ls['toCancelpingduo'])
			}
			if(ls.getItem("toCancelpingkong")!==null){
				$this.toCancelpingkong = JSON.parse(ls['toCancelpingkong'])
			}

		},
		ensure: function(){
			var $this = this;
			if($this.cur15minTime != ''){
				$this.futureOrderInfo(-1);
			}else{
				console.log("early")
			}
			
		}
			
	
			
	},
	mounted() {
		var $this = this;
		$this.setData();

		$this.okCoinWebSocket.init = function(uri, apiKey, secretKey) {
			this.wsUri = uri;
			this.api_key = apiKey;
			this.secret_key = secretKey;
			this.lastHeartBeat = new Date().getTime();
			this.overtime = 8000;
			var okCoinWebSocket = $this.okCoinWebSocket;
			
			okCoinWebSocket.websocket = new WebSocket(okCoinWebSocket.wsUri);
			
			okCoinWebSocket.websocket.onopen = function(evt) {
				$this.onOpen(evt)
			};
			okCoinWebSocket.websocket.onclose = function(evt) {
				$this.onClose(evt)
			};
			okCoinWebSocket.websocket.onmessage = function(evt) {
				$this.onMessage(evt)
			};
			okCoinWebSocket.websocket.onerror = function(evt) {
				$this.onError(evt)
			};
			
			setInterval($this.checkConnect,2000);
			
			



			var cur = new Date().getTime();
			var random = cur%1000*1000+500000
			//0~999s 5001000~1499000
			if(random<900000){
				random = 950000
			}


			setInterval(function(){
				var curTime = new Date().getTime();
				if($this.cycleNum-curTime%$this.cycleNum<20000||curTime%$this.cycleNum<20000){
					return;
				}
				if(curTime-$this.cur15minTime>$this.cycleNum){
					location.reload();
				}else{
					return;
				}
				
				
			},60000)
		}

		$this.start();

		setInterval($this.ensure,2000);


		setInterval(function(){
			if($this.direction=='d'){
				//在此之前还需要有一个状态的判断，需要
				if($this.positionD.eveningup == $this.amount && ($this.toCancelpingkong.status==2||$this.toCancelpingkong.status==-1||typeof($this.toCancelpingkong.order_id)=='undefined')){//止损平仓时，需要先撤单，这点和以前不一样了，把55的id存起来，直接cancel（id）
					var price;
					if($this.readableArr.length>0){
						price = $this.positionD.avgprice * (1+$this.readableArr[0]+0.005)
					}else{
						price = $this.positionD.avgprice * 1.005
					}
					$this.futureTrade55(price, 3, $this.amount);
					$this.positionD.eveningup = 0;//有待观察是否需要去掉
					$this.canClose = false;
				}
			}else if($this.direction=='k'){
				if($this.positionK.eveningup == $this.amount && ($this.toCancelpingduo.status==2||$this.toCancelpingduo.status==-1||typeof($this.toCancelpingduo.order_id)=='undefined')){
					var price;
					if($this.readableArr.length>0){
						price = $this.positionK.avgprice * (1-$this.readableArr[0]-0.005)
					}else{
						price = $this.positionK.avgprice * 0.995
					}
					$this.futureTrade45(price, 4, $this.amount)
					$this.positionK.eveningup = 0;//有待观察是否需要去掉
					$this.canClose = false;
				}
			}
		}, 100)

		setInterval(function(){
			if($this.toCancelpingduo.status==0||$this.toCancelpingduo.status==1||$this.toCancelpingduo.status==4){
				$this.futureOrderInfo($this.toCancelpingduo.order_id)

			}
			
			if($this.toCancelpingkong.status==0||$this.toCancelpingkong.status==1||$this.toCancelpingkong.status==4){

				$this.futureOrderInfo($this.toCancelpingkong.order_id)
			}
			
			
		},1000)


		
				
	}
})
</script>
</html>